body {  /* 전체 마진 0으로 초기화 및 x축 스크롤 숨김 */
  margin:0px;
  background-color: #00799d;
  overflow-x: hidden; /* 가로 스크롤 숨김 */
  width: auto; /* 너비를 자동으로 설정 */
}
header { /* 플렉스박스로 헤더 설정 및 마진 속성 */
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center; /* 자식 요소들을 수직 가운데 정렬 */
  height: 90px; /* 헤더 높이 설정 */
  margin-left: 30px; /* 왼쪽 마진 설정 */
}

header img{
  border-radius: 10%;
}
nav>ul{
  display: fex;
}
  